
# Node modules
node_modules/
bgutil-ytdlp-pot-provider/server/build
env.json
bgutil-ytdlp-pot-provider/server/tsconfig.tsbuildinfo
**/__pycache__/**
yt-dlp.exe
yt-dlp
bgutil-ytdlp-pot-provider/
yt-dlp-plugins/